.confirmation-container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .confirmation-container h2 {
    text-align: center;
    color: #008080;
  }
  
  .confirmation-container h3 {
    color: #555;
  }
  
  .confirmation-container ul {
    list-style: none;
    padding: 0;
  }
  
  .confirmation-container li {
    margin-bottom: 10px;
  }
  
  .confirmation-container label {
    display: block;
    margin-top: 10px;
    color: #555;
  }
  
  .confirmation-container button {
    display: block;
    width: 25%;
    padding: 10px;
    margin: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    margin: 10px 10px 0px 0px;
        background-color: rgb(232, 81, 81);
        /* Updated button color */
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
  }

  .btn-div {
    display: flex;
  }
  