.team-selection-container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .team-selection-container h2 {
    text-align: center;
    color: #008080;
  }
  
  .team-count-input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  