.team-display-container {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .team-display-container h2 {
    text-align: center;
    color: #008080;
  }
  
  .team-display-container h3 {
    color: #555;
  }
  
  .team-display-container ul {
    list-style: none;
    padding: 0;
  }
  
  .team-display-container li {
    margin-bottom: 10px;
  }
  
  .team-display-container ul {
    list-style: none;
    padding: 0;
  }
  
  .team-display-container li {
    margin-bottom: 10px;
  }

  .display-share-btn {
    margin: 10px 0px;
    background-color: blue !important;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 10px 0px 0px;
        background-color: rgb(232, 81, 81);
        /* Updated button color */
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
  }