.enter-data-btn {
  margin: 10px 0px;
  background-color: #5a78af;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
  font-family: monospace;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

.dialog-btn-div {
  justify-content: space-between;
}


.close-dialog-btn {
  margin: 10px 0px;
  float: right;
  background-color: red;
  color: rgb(60, 6, 6);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
  font-family: monospace;
  font-weight: 700;
}

.process-btn {
  margin: 10px 0px;
  float: left;
  background-color: #bfb79e;
  color: rgb(60, 6, 6);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
  font-family: monospace;
  font-weight: 700;
}

.share-btn {
  margin: 10px 0px;
  float: left;
  background-color: blue;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
  cursor: pointer;
}

.container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form {
  display: flex;
  flex-direction: column;
}

.player-item {
  display: flex;
  /* Make it a flex container */
  align-items: center;
  /* Center items vertically */
  margin-bottom: 10px;
}

.player-item label {
  margin-left: 10px;
  /* Add some space between checkbox and label */
}

.team-count-label {
  display: flex;
  align-items: center;
}

.team-count-slider {
  margin-left: 10px;
  /* Adjust the value to set the desired space between slider and label */
}

.team-count-value {
  margin-left: 5px;
  /* Adjust the value to set the desired space between value and slider */
}


.generate-teams-button {
  margin-top: 10px;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  max-width: 250px;
  font-family: monospace;
  font-size: larger;
}

.separator {
  border: 0.5px solid #ddd;
  margin-top: 5px;
  margin-bottom: 10px;
}

.error-msg {
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;

  color: #D63301;
  background-color: #FFCCBA;
  background-image: url('https://i.imgur.com/GnyDvKN.png');
}