.container {
  background-color: #ebe8d6; /* Light Blue */
  padding: 20px;
  border-radius: 10px;
}

.player-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-family: 'TechFont', sans-serif; /* Tech font for player data */
}

.player-name {
  min-width: 120px;
}

.player-name input, .player-name select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #3498db; /* Blue */
  background-color: #eaf6ff; /* Lighter Blue */
  font-family: 'TechFont', sans-serif; /* Tech font for input fields */
}

.player-name input:focus, .player-name select:focus {
  outline: none;
  border-color: #2980b9; /* Darker Blue on focus */
}

.player-rating {
  margin-left: 10px;
}

.add-remove-buttons {
  display: flex;
  align-items: center;
}

.add-minus-player-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px; /* Set width to auto */
  max-width: 25px; /* Set maximum width */
  height: 20px;
  border-radius: 50% !important;
  background-color: #7fb9e0; 
  border: 1px solid rgb(7, 73, 187);
  color: #fff;
  margin: 0px 0px 0px 10px;
  cursor: pointer;
  font-size: x-small;
  padding: 0px !important;
}

.add-minus-player-btn:hover {
  background-color: #1575b5;
}

.add-minus-player-btn:disabled{
  background-color: lightgray;
  cursor: not-allowed;
}

.edit-players-button {
  margin: 10px 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #e74c3c; /* Red */
  color: #fff;
  border: none;
  cursor: pointer;
}

.edit-players-button:hover {
  background-color: #c0392b; /* Darker Red */
}

.save-players-button {
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #2ecc71; /* Green */
  color: #fff;
  border: none;
  cursor: pointer;
}

.save-players-button:hover {
  background-color: #27ae60; /* Darker Green */
}

.cancel-players-button {
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #e74c3c; /* Red */
  color: #fff;
  border: none;
  cursor: pointer;
}

.cancel-players-button:hover {
  background-color: #c0392b; /* Darker Red */
}

.separator {
  border: none;
  border-top: 1px solid #95a5a6; /* Gray */
  margin-top: 10px;
}

.add-players-div{
  padding-left: 100px;
}