.container {
  background-color: #c4e4ff; /* Light Blue */
  padding: 20px;
  border-radius: 10px;
}

.player-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-family: 'TechFont', sans-serif; /* Tech font for player data */
}

.player-name {
  flex: 1;
}

.player-name input, .player-name select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #3498db; /* Blue */
  background-color: #eaf6ff; /* Lighter Blue */
  font-family: 'TechFont', sans-serif; /* Tech font for input fields */
}

.player-name input:focus, .player-name select:focus {
  outline: none;
  border-color: #2980b9; /* Darker Blue on focus */
}

.player-rating {
  margin-left: 10px;
}

.add-remove-buttons {
  display: flex;
  align-items: center;
}

.add-minus-btn {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #2ecc71; /* Green */
  color: #fff;
  border: none;
  cursor: pointer;
}

.add-minus-btn:hover {
  background-color: #27ae60; /* Darker Green */
}

.edit-players-button {
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #e74c3c; /* Red */
  color: #fff;
  border: none;
  cursor: pointer;
}

.edit-players-button:hover {
  background-color: #c0392b; /* Darker Red */
}

.save-players-button {
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #2ecc71; /* Green */
  color: #fff;
  border: none;
  cursor: pointer;
}

.save-players-button:hover {
  background-color: #27ae60; /* Darker Green */
}

.cancel-players-button {
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #e74c3c; /* Red */
  color: #fff;
  border: none;
  cursor: pointer;
}

.cancel-players-button:hover {
  background-color: #c0392b; /* Darker Red */
}

.separator {
  border: none;
  border-top: 1px solid #95a5a6; /* Gray */
  margin-top: 10px;
}

.add-players-div{
  display: ruby-text;
}