.create-teams-workflow {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  .next-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .next-button {
    margin: 10px 10px 0px 0px;
    background-color: rgb(102, 90, 191);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
  }

  .player-options {
    display: flex;
    flex-direction: column;
    margin: 0.5em auto 0.5em 0.25em;
  }
}

.wizard-header {
  position: relative;
}

.tabs {
  display: flex;
  margin-bottom: 10px;
}

.back-button {
  position: absolute;
  top: -1.5em;
  left: -8em;
  font-size: 1rem;
}

.number-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: rgb(163, 10, 10);
  font-size: 12px;
}

.tab {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  border-bottom: 2px dotted #001a00; /* Dark green dotted line for completed tab bottom border */
  background-color: rgb(231, 234, 229);
}

.tab:hover {
  background-color: #c2e9c2; /* Light green for tab hover background */
}

.tab.active {
  color: #2c3e36; /* Dark green for active tab text */
  border-bottom: 4px solid #001a00; /* Dark green for active tab bottom border */
  background-color: #92b6a8; /* Light green for active tab background */
}

.tab.done {
  color: #2f4d2f; /* Darker green for completed tab text */
  background-color: #b3d6cb; /* Light green for completed tab background */
  border-bottom: 2px solid #001a00; /* Dark green dotted line for completed tab bottom border */
}

.dot-icon {
  font-size: 15px; /* Adjust the size of the icons as needed */
  color: #0b3a0b; /* Dark green for default icon color */
}

.active .dot-icon {
  color: #0b410b; /* Darker green for active step icon */
}

.done .dot-icon {
  color: #46b846; /* Light green for completed step icon */
}

.content {
  border: 1px solid #ccc;
  background-color: #fff; /* Updated background color */
}
