header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333; /* You can change the background color */
  color: #fff; /* Text color */
}

.menu-icon {
  background-color: darkcyan;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  color: #eaa7a7; /* Button color */
}

.title {
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  flex-grow: 1; /* Ensures that the title takes up the remaining space */
}

/* Add more styles as needed */
