.home-container {
  background-color: #f0f0f0; /* Set your background color */
  padding: 20px;
  border-radius: 8px;
  margin: 20px;
}

.description-section {
  color: #333; /* Set your text color */
}

.instruction {
  margin-top: 10px;
}

.instruction-list {
  margin-bottom: 20px;
}

.feature-section, .how-to-use-section {
  margin-top: 20px;
}

h2, h3 {
  color: #008080; /* Set your heading color */
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

a {
  color: #0066cc; /* Set your link color */
}

a:hover {
  text-decoration: underline;
}

.developer-info {
  font-family: 'Cosmic', sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-align: right;
  margin-top: 20px;
  color: #555; /* Set your text color */
}
