/* App.css */

.App {
  display: flex;
  height: 100vh;
  overflow: hidden; /* Hide the overflowing content */
}

.leftHide {
  display: none; /* Initially hide the sidebar */
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 70%;
}

.right .hide {
  width: 100%;
}

.leftDisplay {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.content {
  overflow: auto;
  padding: 10px;
}

.back-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.back-button {
  margin: 10px 10px 0px 0px;
  background-color: rgb(115, 114, 114);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
