.players-import-container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .players-import-container h2 {
    text-align: center;
    color: #008080;
  }
  
  .players-import-list {
    list-style: none;
    padding: 0;
  }
  
  .players-import-list li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
  }

  .import-data-content {
    display: flow-root;  
  }
  
  .process-btn {
    margin: 10px 0px;
    background-color: #bfb79e;
    color: rgb(60, 6, 6);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
    font-family: monospace;
    font-weight: 700;
  }

  .player-count {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
}

.dynamic-div{
  margin-top: 5px;
}

.add-minus-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 25px; /* Set width to auto */
  max-width: 25px; /* Set maximum width */
  height: 25px;
  border-radius: 50% !important;
  background-color: #6791ba !important;
  color: #fff;
  margin: 0px 0px 0px 10px !important;
  cursor: pointer;
  font-size: x-small;
  padding: 0px !important;
}

.add-minus-btn:hover {
  background-color: #0056b3; /* Hover color */
}
